doctype html
include include/head.pug

.container
  include include/navbar.pug
  h3 Blog
  br
  .row
  - for (var i = 0; i < posts.length; i += 2)
    .row
      .col
        .card.flex-md-row.mb-4.box-shadow.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            h3.mb-0= posts[i].title
            .mb-1.text-muted= posts[i].time
              i= ' by ' + posts[i].user
            p.card-text.mb-auto
              = posts[i].content
            img(src="static/image/0000.jpg" width="495" height="400")
      .col
        .card.flex-md-row.mb-4.box-shadow.h-md-250
          .card-body.d-flex.flex-column.align-items-start
            h3.mb-0= posts[i+1].title
            .mb-1.text-muted= posts[i+1].time
              i= ' by ' + posts[i+1].user
            p.card-text.mb-auto
              = posts[i+1].content
            img(src="static/image/0001.jpg" width="495" height="400")
include include/scripts.pug
